

<div class="marg-top10">
  <div class="form-group">
    <button class="text-button text-uppercase" (click)="openCamera()" [disabled]="isCameraOpen">Camera</button>
    <button class="text-button marg-left-butt10 text-uppercase" (click)="openGallery()" [disabled]="isGalleryOpen">Gallery</button>
    <button class="text-button marg-left-butt10 red text-uppercase ng-scope" (click)="downloadPdf()" [disabled]="captures.length <= 0" >Create PDF with {{ captures.length }} images</button>
  </div>
</div>


<div class="marg-left10" *ngIf="isCameraOpen">
  <div [hidden]="!hasDevices">
    <div class="fl-grid-item-row">
      <div class="fl-grid-item fl-item-half">
        <label for="cameras" class="fl-grid-item-label ng-binding">Camera</label>
        <div class="fl-grid-field-wrapper">
          <div class="fl-grid-field">
            <select id="cameras" class="eq-validation-object ng-pristine ng-valid ng-valid-required ng-touched" [value]="deviceSelected" (change)="onDeviceSelectChange($event.target.value)">
              <option value="">No Device Selected</option>
              <option *ngFor="let device of availableDevices" [value]="device.deviceId">{{device.label}}</option>
            </select>
          </div>
        </div>
        <!-- <span class="text-danger" *ngIf=" deviceCurrent.deviceId === '' ">Select a camera.</span> -->
      </div>
    </div>

    <div class="fl-grid-item-row">
     <div class="fl-grid-item fl-item-half">
     
      <div  *ngIf=" deviceCurrent.deviceId != '' ">
        <video
          [class.show]="!isCaptured"
          [class.hide]="isCaptured"
          #video
          id="video"
          [width]="WIDTH"
          [height]="HEIGHT"
          autoplay
        ></video>
        <canvas
          style="display: none;"
          [class.show]="isCaptured"
          [class.hide]="!isCaptured"
          #canvas
          id="canvas"
          [width]="WIDTH"
          [height]="HEIGHT"
        ></canvas>

        <div class="toolbar-flex marg-top-10" *ngIf="!isCaptured" >
          <button class="text-button marg-top10 text-uppercase" (click)="capture()">
           <i class="fa fa-camera fa-2x"></i>&nbsp;Snap Photo
          </button>
        </div>
      </div>
     </div>
    </div>
  </div>
  <ng-container *ngIf="hasPermission === false">
    <h2>You denied the camera permission, we can't scan anything without it. 😪</h2>
  </ng-container>
</div>

<div class="container m-2" *ngIf="isGalleryOpen">
  <div fxFlex="100" fxLayoutAlign="space-around" >
    <div #dropZone
         class="dropZone"
         [ngClass]="{'drop-hover': overZone}"
         (drop)="$event.preventDefault(); dropFile($event)"
         (dragleave)="$event.preventDefault(); overZone = false;"
         (dragover)="$event.preventDefault(); overZone = true;"
         (click)="hiddenInput.click()">
      <div fxLayout="column" fxFlex="100"  fxLayoutAlign="space-around" style="text-align: center">
        <span class="inner-text" style="margin-top: auto; text-align: center">Drop an image here, or click to upload</span>
        <mat-icon color="primary" class="cloud-icon" style="margin-bottom:auto; margin-top: 12px; font-size: 64px;">cloud_upload</mat-icon>
      </div>
    </div>
  </div>
  <input #hiddenInput type="file" (change)="loadFile($event)" style="display:none" accept="image/*">
  
</div>

<div class="fl-grid-item-row">
  <div class="fl-grid-item fl-item-half">
    <ngx-doc-scanner 
    id="scanner"
    *ngIf="image"
    [file]="image"
    (editResult)="editResult($event)"
    (exitEditor)="exitEditor()"
    (error)="onError($event)"
    (processing)="editorState($event)"
    [config]="config">
  </ngx-doc-scanner>
  </div>
</div>
<div class="fl-grid-item-row fl-item-wrapper " *ngIf="image">
  <button class="text-button" (click)="actionClick(!doneCrop ? EXIT : BACK)">
    <i class="fa fa-arrow-left fa-2x"></i>&nbsp;{{ !doneCrop ? 'Exit' : 'Back' }}
  </button>
  <button class="text-button marg-left10" (click)="actionClick(!doneCrop ? ROTATE : FILTER )">
    <i class="fa fa-{{ !doneCrop ? 'rotate-right' : 'image'}} fa-2x"></i>&nbsp;{{ !doneCrop ? 'Rotate Right' : 'Filter' }}
  </button>
  <button class="text-button marg-left10 {{ doneCrop && 'green' }}" (click)="actionClick(!doneCrop ? DONE_CROP : UPLOAD)">
    <i class="fa fa-{{ !doneCrop ? 'crop':'check' }} fa-2x"></i>&nbsp;{{ !doneCrop ? 'Crop' : 'Save' }}
  </button>
</div>




<div class="container m-4">
  <div class="container mt-4 text-center" id="images">
  </div>
</div>
