<div class="container-fluid mt-2">
  <!-- CAMERA -->
<div class="video-container">
  <video
    [class.show]="!isCaptured"
    [class.hide]="isCaptured"
    #video
    id="video"
    [width]="WIDTH"
    [height]="HEIGHT"
    autoplay
  ></video>
  <canvas
    style="display: none;"
    [class.show]="isCaptured"
    [class.hide]="!isCaptured"
    #canvas
    id="canvas"
    [width]="WIDTH"
    [height]="HEIGHT"
  ></canvas>
</div>

<div class="snap-container" *ngIf="!isCaptured" >
  <button class="btn btn-primary" (click)="capture()">
    Snap Photo
  </button>
  <button class="btn btn-danger ml-2" (click)="downloadPdf()" [disabled]="captures.length <= 0" >Finish: {{ captures.length }}</button>
</div>
<div class="video-container">
  
  <ngx-doc-scanner 
  id="scanner"
  *ngIf="image"
  [file]="image"
  (editResult)="editResult($event)"
  (exitEditor)="exitEditor()"
  (error)="onError($event)"
  (processing)="editorState($event)"
  [config]="config">

</ngx-doc-scanner>

  <div class="container mt-4" id="images">
  </div>
</div>





</div>