


<div class="marg-top5 panel-body" [ngClass]="{'no-scroll':isEditing}">
  <span><small>version:({{ version }})</small></span>
  <!-- <span><small>Device Active: {{ deviceIdWC }} </small></span>

  <ul>
    <li *ngFor="let d of devices"> {{ d.deviceId  }} - {{ d.label }} - {{ d.kind }}</li>
  </ul> -->
  <!-- <input type="file" accept="image/*" capture="environment"> -->
    <!--BUTTONS  -->
    <div class="form-row" >
      <div class="form-item">
    
        <button class="text-button marg-left-butt10 marg-top10 text-uppercase" (click)="fileCamera.click()" 
        *ngIf="!isEditing && !isEnabledButton">Camera</button>
        <!-- <button class="text-button marg-left-butt10 marg-top10 text-uppercase" (click)="openCamera()" 
        *ngIf="!isEditing && !isEnabledButton">Camera</button> -->
        <button class="text-button marg-left-butt10 marg-top10 text-uppercase" (click)="openGallery()" 
        *ngIf="!isEditing && !isEnabledButton">Gallery</button>
        <button style="z-index: 999;" class="text-button marg-left-butt10  marg-top10  red text-uppercase" (click)="onCancel()" 
        *ngIf="isEditing || !isEnabledCancel">Cancel</button>
        <!-- <button class="text-button marg-left-butt10 marg-top10 green text-uppercase" (click)="downloadPdf()" 
        [disabled]="captures.length <= 0" >Create PDF with {{ captures.length }} images</button> -->
      </div>
    </div>
    <!-- END BUTTONS -->


      <!-- <div *ngIf="isCameraOpen && !isEditing"> -->
        <div>

        <input type="file" 
        #fileCamera
        name="fileCamera" 
        id="fileCamera" 
        capture="environment"
        (change)="selectFile($event)"  
        eq-choose-file-drct="" 
        accept="image/*" 
        class="ng-isolate-scope">

        <!-- <webcam 
        [height]="500"
        [width]="500" 
        [trigger]="triggerObservable" 
        (imageCapture)="handleImage($event)" 
        [allowCameraSwitch]="allowCameraSwitch" 
        [switchCamera]="nextWebcamObservable"
        [videoOptions]="videoOptions"
        [imageQuality]="1"
        (cameraSwitched)="cameraWasSwitched($event)"
        (initError)="handleInitError($event)"
        ></webcam>
       
      
        <br>
        <button class="text-button marg-top10 text-uppercase" (click)="triggerSnapshot()">
          <i class="fa fa-camera fa-2x"></i>&nbsp;Take Photo
         </button> -->

      </div>


        <!-- GALLERY -->
        <div class="form-row"  *ngIf="isGalleryOpen">
          <div class="form-item">
            <div class="fl-grid-field-wrapper file-input-wrapper">
              <input type="text" id="filename" name="filename" class="file-input-textbox" readonly="readonly" ng-class="{'error-field' : ctrl.uploadedFile.id == null &amp;&amp; ctrl.form.$submitted &amp;&amp; (ctrl.form.$invalid) }">
      
              <button class="text-button-file-input" id="fileInputButton">Select File</button>
              <input type="file" 
              name="filename3" 
              id="filename3" 
              capture="environment"
              (change)="selectFile($event)"  
              eq-choose-file-drct="" 
              accept="" 
              data-changed="ctrl.upload(files)" 
              ng-disabled="ctrl.isFileUploading" 
              onchange="document.getElementById('filename').value = this.value" 
              onmouseover="document.getElementById('fileInputButton').className='text-button-file-input';" 
              onmouseout="document.getElementById('fileInputButton').className='text-button-file-input';" 
              class="ng-isolate-scope">
          </div>
          </div>
        </div>
        <!-- END GALLERY -->

      <!-- EDITOR -->
  <div  class="form-row marg-top15 marg-bott15"  *ngIf="image && isEditing" style="position: fixed;">
    <div class="form-item">
      <div class="fl-grid-item-row">
       <div class="form-row">
        <div class="form-item">
          <h2 class="marg-left10" *ngIf="captureEditing != null">Editing image {{ captureEditing.position }} of {{ captures.length }}</h2>
        </div>
       </div>
      </div>
      <div class="fl-grid-item-row">
        <div class="fl-grid-item fl-item-half marg-top15">
        <app-image-editor 
        id="scanner"
        [file]="image"
        (editResult)="editResult($event)"
        (exitEditor)="closeEditor()"
        (error)="onError($event)"
        (processing)="editorState($event)"
        [config]="config">
      </app-image-editor>
        </div>
      </div>
      <!-- <div class="fl-grid-item-row fl-item-wrapper " >
        <button class="text-button" (click)="actionClick(!doneCrop ? EXIT : BACK)">
          <i class="fa fa-arrow-left fa-2x"></i>&nbsp;{{ !doneCrop ? 'Exit' : 'Back' }}
        </button>
        <button class="text-button marg-left10" (click)="actionClick(!doneCrop ? ROTATE : FILTER )">
          <i class="fa fa-{{ !doneCrop ? 'rotate-right' : 'image'}} fa-2x"></i>&nbsp;{{ !doneCrop ? 'Rotate Right' : 'Filter' }}
        </button>
        <button class="text-button marg-left10 {{ doneCrop && 'green' }}" (click)="actionClick(!doneCrop ? DONE_CROP : UPLOAD)">
          <i class="fa fa-{{ !doneCrop ? 'check':'floppy-o' }} fa-2x"></i>&nbsp;{{ !doneCrop ? 'Done' : 'Save' }}
        </button>
      </div> -->
    </div>
  </div>
  <!-- END EDITOR -->
   <!-- IMAGES LIST -->
 <div class="form-row" *ngIf="captures.length > 0 && !isEditing">
  <!-- <h1>List Of Images</h1> -->
  <button class="text-button  marg-top10  red" (click)="deleteAllImages()">
    <i class="fa fa-trash fa-2x"></i>&nbsp;Delete All Images
  </button>
  <!-- <button  class="text-button marg-left-butt10  marg-top10" (click)="downloadAllImages()" [disabled]="isDownloadAll">
    <i class="fa fa-download fa-2x"></i>&nbsp;Download All Images
  </button> -->
  <button class="text-button marg-left-butt10  marg-top10 green" (click)="downloadPdf()" [disabled]="isDownloadAll">
    <i class="fa fa-floppy-o fa-2x"></i>&nbsp;Save PDF with {{ captures.length }} images 
  </button>
  <div #dropListContainer class="form-row example-container " cdkDropListGroup  >
    <figure cdkDropList
            [cdkDropListData]="i"
            *ngFor="let capture of captures; let i = index" 
            class="form-item example-box">
      <img 
      cdkDrag
      [cdkDragData]="i"
      (cdkDragEntered)="dragEntered($event)"
      (cdkDragMoved)="dragMoved($event)"
      (cdkDragDropped)="dragDropped($event)"
      [class]="captureEditing?.id == capture.id && 'image-editing'" 
      [src]="capture.safeUrl" 
      [id]="capture.id" 
      alt="image" 
      class="img-captures "> 
      <span class="span-captures">{{ i+1 }}/{{ captures.length }} </span>
      <div>
        <button class="general-button  marg-top10  red" (click)="deleteImage(capture)">
          <i class="fa fa-trash fa-2x"></i>
        </button>
        <!-- <button style="display: none;" class="general-button marg-left-butt10  marg-top10" (click)="editImage(capture)">
          <i class="fa fa-pencil fa-2x"></i>
        </button> -->
        <button class="general-button marg-left-butt10  marg-top10" (click)="downloadImage(capture)">
          <i class="fa fa-download fa-2x"></i>
        </button>
      </div>
    </figure>
  </div> 
</div>
 
<!-- END IMAGES LIST -->
</div>

<!-- <img [src]="webcamImage?.imageAsDataUrl" alt="webcam image"> -->









