@import url("./css/font-awesome.css");
@import url("./css/eqstyle.css");


button[name="exit"],
button[name="rotate"],
button[name="done_crop"],
button[name="back"],
button[name="filter"],
button[name="upload"]
{
  display: none;
}

/* DISABLE REFRESH CHROME */

body {
  /* height: auto;
  position: fixed; */
  overscroll-behavior: contain;
  overflow-x: hidden;
}

/* END DISABLE REFRESH CHROME */
