@import url("./css/font-awesome.css");
@import url("./css/eqstyle.css");


/* button[name="exit"],
button[name="rotate"],
button[name="done_crop"],
button[name="back"],
button[name="filter"],
button[name="upload"]
{
  display: none;
} */
/* DISABLE REFRESH CHROME */

body {

  overscroll-behavior: contain;
  width:100%;
	float:left;
	margin:0;
}

/* END DISABLE REFRESH CHROME */

/* canvas {
  image-rendering: optimizeSpeed;             
  image-rendering: -moz-crisp-edges;        
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;         
  image-rendering: crisp-edges;             
  -ms-interpolation-mode: nearest-neighbor;
} */
